.searchBar {
  position: absolute;
  top: 35px;
  left: 25%;
  width: 100vw;
}

.searchBar > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 559px;
  padding: 10px;
  background-color: white;
  position: absolute; /*absolute는 조상 태그 중 position:relative가 없으면 body를 기준으로 가장 오른쪽에 붙는다. 
  만약 있으면 그 relative를 기준으로 가장 오른쪽에 붙게된다.
   */
  top: 380px;
  left: 0;
}

.searchBar > input {
  width: 539px;
  padding: 20px;
  position: absolute;
  left: 0;
  height: 30px;
  top: 420px;
  border: none;
}

.searchBar > input:focus {
  outline-width: 0;
}

.searchBar > button {
  position: absolute;
  left: 0;
  top: 480px;
  text-transform: inherit !important;
  background-color: #ff7779;
  color: white;
  width: 579px;
}

.searchBar > button:hover {
  color: #ff7779;
  background-color: white;
}
