.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky; /* 스크롤을 내려도 붙어 내려옴.*/
  top: 0;
  /* position:sticky 와 top: 0; 는 같이 쓰는게 좋다. */
  background-color: white;
  z-index: 100;
  width: 100%;
}

.header__icon {
  object-fit: contain; /* object-fit: 세밀하게 이미지를 자를 수 있음. contain: 가로세로 비율을 유지하면서 크기를 늘리고 줄임.;*/
  height: 100px;
  margin-left: 20px;
}

.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
}

.header__center > input {
  border: none;
  padding: 10px;
  outline-width: 0;
  width: 400px;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}
